<!DOCTYPE html>
<html>
<head>
    <title>Smart Parking System</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body style="background-color: rgb(44, 110, 113);">
    <header>
        <h1>Welcome To Future Of Parking</h1>
    </header>
    
    <div class="container">
        <div class="parking-lot">
            <span class = "button">
               <a id="gfg" href="http://localhost:8080/slot-booking"> Slot Booking&#8594</a>
            </span>
            <span class ="button">
                <a id="btn2" href="http://localhost:8080/guard-login">Guard Login&#8594</a>
            </span>
           
        </div>
        
    </div>
    
    <footer>
        <p>&copy; 2023 Smart Parking System</p>
    </footer>
    
  
</body>
</html>