<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Your Slot</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body style="background-color: rgb(217, 217, 181);">
    
    <header>
        <h1>BOOK YOUR PARKING</h1>
    </header>
   
    <div class="parking">
        <span class="slot" id="slot1">1</span>
        <span class="slot" id="slot2">2</span>
        <span class="slot" id="slot3">3</span>
        <span class="slot" id="slot4">4</span>
        <span class="slot" id="slot5">5</span>
        <span class="slot" id="slot6">6</span>
        <span class="slot" id="slot7">7</span>
        <span class="slot" id="slot8">8</span>
        <span class="slot" id="slot9">9</span>
        <span class="slot" id="slot10">10</span>
    </div>
    
    <form id="bookingForm" action="/submit-form" method="post"  onsubmit="return submitForm()">
        <label for="slot">Choose your Slot:</label>
        <select name="slot" id="slot">
            <option value="slot1">1</option>
            <option value="slot2">2</option>
            <option value="slot3">3</option>
            <option value="slot4">4</option>
            <option value="slot5">5</option>
            <option value="slot6">6</option>
            <option value="slot7">7</option>
            <option value="slot8">8</option>
            <option value="slot9">9</option>
            <option value="slot10">10</option>
        </select>
        <br><br>

        <label for="Name">Enter Your Name:</label>
        <input type="text" id="Name" name="Name">
        <br><br>

        <label for="Vehicle">Vehicle Number:</label>
        <input type="text" id="Vehicle" name="Vehicle">
        <br><br>
        <label for="birthday">Date:</label>
        <input type="date" id="birthday" name="birthday">
        <br><br>

        <label for="Time">Entry Time:</label>
        <input type="time" id="Time" name="Time">
        <br><br><br>
        <input type="hidden" id="selectedSlot" name="selectedSlot" value="">
        <input id="submit" type="submit" value="Book">
    </form>
    <script>
        function submitForm() {
            
            const selectedSlot = document.getElementById('slot').value;
            
       
            document.getElementById('selectedSlot').value = selectedSlot;
    
         
            document.getElementById(selectedSlot).style.backgroundColor = 'red';
    
     
            return true;
        }
    </script>
    
  

    <script src="script.js"></script>
</body>
</html>